<!-- !PAGE CONTENT! -->
<div class="w3-main">

  <!-- Header -->
  <header class="w3-container" style="padding-top:22px; display: inline;">
    <h5><b><i class="fas fa-car"></i> Change Engine Number</b></h5>
  </header>

  <br>
  <br>

<div class="regfulldev">
        <table>
                
                
                <tr>
                  <td>Enter Vehicle Number</td>
                  <td><input type="text" name="entervehiclenumb" #vehicleNumber></td>
                  
                </tr>
                <tr>
                        <td>Enter New Engine Number</td>
                        <td><input type="text" name="changeenginenumb" #newEngineNumber></td>
                        
                </tr>
                
                
                
              </table>
              <input type="checkbox" ><label style="margin-top:30px;">Physically Inspected The Car </label>
              <table style="margin-top:30px;">
                    <tr>
                      <td><button (click)="submitButtonFunction(vehicleNumber.value , newEngineNumber.value)" class="button button1"><strong>Submit</strong></button></td>    
                            
                    </tr>
              </table>
   
</div>
  <!--<div class="w3-panel">
    <div class="w3-container" >
      <br>
      <table>
        <tr>
          <td><label>Registeration Voucher Number</label></td>
          <td style="padding-left:50px"><input type="text"></td>
        </tr>
        <tr>
          <td><br></td>
          <td><br></td>
        </tr>
        <tr>
          <td>
            <text>Submit Rs-500 in below mentioned Bank Account Number.</text>
            <br>
            <text>Account Number:   0001277901547301</text>
          </td>
        </tr>
        <tr>
          <td><br></td>
          <td><br></td>
        </tr>
        <tr>
          <td><label>Bank Deposit Slip Number</label></td>
          <td style="padding-left:50px"><input type="text"></td>
        </tr>
        <tr>
          <td><br></td>
          <td><br></td>
        </tr>
        <tr>
          <td>
            <button type="submit" class="comment_button"><strong>REQUEST</strong></button>
          </td>
          <td></td>
        </tr>
      </table>
    </div>
  </div>-->



  <!-- End page content -->
</div>