<!-- !PAGE CONTENT! -->
<div class="w3-main" >

  <!-- Header -->
  <header class="w3-container" style="padding-top:22px">
    <h5><b><i class="fas fa-ban"></i> Unblock Vehicle</b></h5>
  </header>

  <br>
  <br>

  <div class="regfulldev">
    <div class="w3-container" >
      <br>
      <table>
        <tr>
          <td><label>Number Plate of Vehicle to be unblocked</label></td>
          <td style="padding-left:50px"><input type="text" placeholder="ABC-123" #noplateUB></td>
        </tr>
        <tr>
          <td><br></td>
          <td><br></td>
        </tr>
		<tr>
          <td>
            <button type="submit" class="button button1" (click)="unblock(noplateUB.value)"><strong>UNBLOCK VEHICLE</strong></button>
          </td>
          <td></td>
        </tr>
      </table>
    </div>
  </div>



  <!-- End page content -->
</div>
