<!-- Top container -->
<div class="w3-bar w3-top w3-green w3-large" style="z-index:4">
  <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i>  Menu</button>
  <span class="w3-bar-item w3-left"><img src="assets/img/f.png" width="50" height="40">Government of Punjab</span>
  <a routerLink="/login" routerLinkActivate="active" class="w3-bar-item w3-right">Logout </a>
  <!--<span class="w3-bar-item w3-right">Logout</span>-->
</div>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
  <div class="w3-container w3-row">
    <div class="w3-col s4">
      <img src="assets/img/b.png" class="w3-circle w3-margin-right" style="width:46px">
    </div>
    <div class="w3-col s8 w3-bar">
      <span>Welcome, <strong>{{userName}}</strong></span><br>
      <!--<a href="#" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i></a>
      <a href="#" class="w3-bar-item w3-button"><i class="fa fa-user"></i></a>
      <a href="#" class="w3-bar-item w3-button"><i class="fa fa-cog"></i></a>-->
    </div>
  </div>
  <hr>
  <div class="w3-container">
    <h5>Dashboard</h5>
  </div>
  <div class="w3-bar-block">
    <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>  Close Menu</a>
    <a routerLink="overview" routerLinkActivate="active" class="w3-bar-item w3-button w3-padding   "><i class="fa fa-eye fa-fw"></i>  Overview</a>


    <!--       
        <a (click)="registerToggle()" id="register" class="w3-bar-item w3-button  "><i class="fas fa-car fa-fw"></i>  Register Vehicle</a>
          <div class="dropdown-container">
            <ul>
              <a routerLink="/dashboard/register-v" (click)="register()" class="w3-bar-item w3-button w3-padding ">Register</a>    
              <a href="" class="w3-bar-item w3-button w3-padding ">Register Status</a>
            </ul>  
          </div>

-->
  <!--  
    <div class="dropdown">
      <a routerLink="/dashboard/register-v" (click)="register()" class="w3-bar-item w3-button w3-padding "><i class="fas fa-car fa-fw"></i>  Register Vehicle</a>
      <div class="dropdown-content" id="myDropdown">
        <ul>
          <li><a href="" class="w3-bar-item w3-button w3-padding ">Register</a></li>      
          <li><a href="" class="w3-bar-item w3-button w3-padding ">Register Status</a></li>
        </ul>  
      </div>
    </div>
  --> 
 

    
      <a routerLink="register-v" routerLinkActivate="active" class="w3-bar-item w3-button w3-padding "><i class="fas fa-car fa-fw"></i>  Register Vehicle</a>
      <!--<ul>
        <a href="" class="w3-bar-item w3-button w3-padding ">Register</a>       
        <a href="" class="w3-bar-item w3-button w3-padding ">Register Status</a>
      </ul>
    -->
    
    
    <a routerLink="transfer-v" routerLinkActivate="active"  class="w3-bar-item w3-button w3-padding"><i class="fas fa-exchange-alt fa-fw"></i>  Transfer Vehicle</a>
    <a routerLink="block-v"   routerLinkActivate="active"   class="w3-bar-item w3-button w3-padding"><i class="fas fa-ban fa-fw"></i>  Block Vehicle</a>
    <a routerLink="engine-n"  routerLinkActivate="active"   class="w3-bar-item w3-button w3-padding"><i class="fa fa-bell fa-fw"></i>  Change Engine Number</a>
    <a routerLink="token-t" routerLinkActivate="active"    class="w3-bar-item w3-button w3-padding"><i class="fas fa-university fa-fw"></i>  Submit Token Tax</a>
  </div>
</nav>


<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px;margin-top:43px;">

  <router-outlet></router-outlet>
  
  <!--<div *ngIf="loadOverview">
      <app-overview></app-overview>
  </div>
  <div *ngIf="loadRegister">
      <app-register-v></app-register-v>
  </div>
  <div *ngIf="loadTransfer">
      <app-transfer-v></app-transfer-v>
  </div>
  <div *ngIf="loadBlock">
      <app-block-v></app-block-v>
  </div>
  <div *ngIf="loadChangeEngine">
      <app-engine-n></app-engine-n>
  </div>
  <div *ngIf="loadSubmitToken">
      <app-token-t></app-token-t>
  </div>
-->

</div>

<script>

  function register() {
    document.getElementById("myDropdown").classList.toggle("show");
}

</script>