<div style="padding-top:2%">
  <span class="w3-bar-item w3-left" style="padding-left:5%">
      <img src="assets/img/f.png" width="110" height="95">
  </span>
    <br>
    <span class="w3-bar-item w3-left" style="padding-left:3%">
      <strong>Government of Punjab</strong>
    </span>
    <br>
    <span class="w3-bar-item w3-left" style="padding-left:5.5%">
      <strong>Smart DMV</strong>
    </span>
</div>

<div class="login-page" style="margin-top:-2%">
  <div class="form">
    <div class="container" style="margin-left:-25%">
      <h4 style="color:#004614"><strong>LOGIN using NADRA CREDENTIALS</strong></h4>
    </div>
    <br>
    <form class="login-form">
      <input type="text" placeholder="username"#username/>
      <input type="password" placeholder="password" #password/>
      <button class="button" (click)="login(username.value, password.value)" > LOGIN </button>
      
      
      <p class="message">Not registered? <a routerLink="/signup" routerLinkActivate="active">Create an account</a><br></p>
    </form>
    <br>
    <br>
  </div>
</div>
  

  
  

  