  
  <!-- !PAGE CONTENT! -->
  <div class="w3-main" >
  
    <!-- Header -->
    <header class="w3-container" style="padding-top:22px">
      <h5><b><i class="fas fa-exchange-alt fa-fw"></i> Transfer Vehicle</b></h5>
    </header>
  
    <br>
    <br>
  
    <div class="regfulldev">

      <table>
          <tr>
            <th>Vehicle Number Plate</th>
            <th>View Request</th>
          </tr>
          <tr>
            <td>1235</td>
            <td><button class="button button1" (click)="reviewVehicleNumber()"><strong>Review</strong></button></td>       
          </tr>
          <tr>
            <td>1235</td>
            <td><button class="button button1" (click)="reviewVehicleNumber()"><strong>Review</strong></button></td>
          </tr>
          <tr>
            <td>1235</td>
            <td><button class="button button1" (click)="reviewVehicleNumber()"><strong>Review</strong></button></td>
          </tr>
          <tr>
            <td>1235</td>
            <td><button class="button button1" (click)="reviewVehicleNumber()"><strong>Review</strong></button></td>       
          </tr>
          <tr>
            <td>1235</td>
            <td><button class="button button1" (click)="reviewVehicleNumber()"><strong>Review</strong></button></td>
          </tr>
          <tr>
            <td>1235</td>
            <td><button class="button button1" (click)="reviewVehicleNumber()"><strong>Review</strong></button></td>
          </tr>
      </table>
  
      
  </div>
    
  
  
  
    <!-- End page content -->
  </div>
  