<div class="w3-main" >

  <!-- Header -->
  <header class="w3-container" style="padding-top:22px; display: inline;">
    <h5><b><i class="fas fa-car"></i> Vehicle Number Plate : <span style="margin-left:10px;">1235</span></b></h5>
  </header>

  <br>
  <br>

<div class="regfulldev">
        <table>
                
                <tr>
                  <th>Old Owner</th>
                  <th></th>
                </tr>
                <tr>
                  <td>Name</td>
                  <td><input type="text" name="name"></td>
                  
                </tr>
                <tr>
                        <td>Contact No</td>
                        <td><input type="text" name="CN"></td>
                        
                </tr>
                <tr>
                        <td>Address</td>
                        <td><input type="text" name="address"></td>
                        
                </tr>
                <tr>
                        <td>Cnic</td>
                        <td><input type="text" name="cnic"></td>
                        
                </tr>
                
                
              </table>
              <label style="margin-top:30px;">Verified Through Call
                    <input type="checkbox" checked="checked">
                    <span class="checkmark"></span>
                  </label>

                  <form action="">
                        <input type="radio" name="rd" value="approved"> Approved<br>
                        <input type="radio" name="rd" value="rejected"> Rejected<br>
                      </form>
              
              <table>
                
                    <tr>
                      <th>New Owner</th>
                      <th></th>
                    </tr>
                    <tr>
                      <td>Name</td>
                      <td><input type="text" name="name"></td>
                      
                    </tr>
                    <tr>
                            <td>Contact No</td>
                            <td><input type="text" name="CN"></td>
                            
                    </tr>
                    <tr>
                            <td>Address</td>
                            <td><input type="text" name="address"></td>
                            
                    </tr>
                    <tr>
                            <td>Cnic</td>
                            <td><input type="text" name="cnic"></td>
                            
                    </tr>
                    
                    
                  </table>
                  <label style="margin-top:30px;">Verified Through Call
                        <input type="checkbox" checked="checked">
                        <span class="checkmark"></span>
                      </label>
    
                      <form action="">
                            <input type="radio" name="rd" value="approved"> Approved<br>
                            <input type="radio" name="rd" value="rejected"> Rejected<br>
                          </form>
                  <table style="margin-top:30px;">
                        <tr>
                                <td><a href="file:///C:/Users/hafiz/Desktop/New%20folder/Untitled-1.html" class="comment_button"><strong>Back</strong></a></td>
                                <td><a href="#" class="comment_button"><strong>Approve</strong></a></td>
                                
                        </tr>
                  </table>
   
</div>
  <!--<div class="w3-panel">
    <div class="w3-container" >
      <br>
      <table>
        <tr>
          <td><label>Registeration Voucher Number</label></td>
          <td style="padding-left:50px"><input type="text"></td>
        </tr>
        <tr>
          <td><br></td>
          <td><br></td>
        </tr>
        <tr>
          <td>
            <text>Submit Rs-500 in below mentioned Bank Account Number.</text>
            <br>
            <text>Account Number:   0001277901547301</text>
          </td>
        </tr>
        <tr>
          <td><br></td>
          <td><br></td>
        </tr>
        <tr>
          <td><label>Bank Deposit Slip Number</label></td>
          <td style="padding-left:50px"><input type="text"></td>
        </tr>
        <tr>
          <td><br></td>
          <td><br></td>
        </tr>
        <tr>
          <td>
            <button type="submit" class="comment_button"><strong>REQUEST</strong></button>
          </td>
          <td></td>
        </tr>
      </table>
    </div>
  </div>-->



  <!-- End page content -->
</div>